.anim-typewriter {
    overflow: hidden;
    animation: typewriter 10s steps(889) 1s 1 normal both,
    blinkTextCursor 500ms steps(889) infinite normal;
}

@keyframes typewriter {
    0% {
        width: 0;
        height: 0;
    }
    10% {
        height: 4vh;
        width: 60em;
    }
    20% {
        height: 8vh;
    }
    30% {
        height: 12vh;
    }
    40% {
        height: 16vh;
    }
    50% {
        height: 20vh;
    }
    60% {
        height: 24vh;
    }
    70% {
        height: 28vh;
  }
    80% {
        height: 32vh;
    }
    100% {
        width: 60em;
        height: 36vh;
    }
}

@keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  }